.stealthy{
    background: transparent;
    border: none;
}
.table-action{
	display: inline-block;
	text-decoration: none;
	color: inherit;
}

form{
    width: 100%;
}
input, textarea{
	color: #333;
}

.align-right{
    text-align: right;
}
.align-left{
    text-align: left;
}
